

.hero {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
}

.videoTag {
    width: 120%;
    /* height: 100%; */
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 21%; /* Position the text one fourth of the way down */
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--offWhite);
    font-size: 3em; 
    font-weight: 550;
    text-align: center;
    /* text-shadow:
    -1px -1px 0 var(--dark),
    1px -1px 0 var(--dark),
    -1px 1px 0 var(--dark),
    1px 1px 0 var(--dark); */
}

.text-overlay__tagline {
    font-size: .6em; 
}