/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather");

/* FONTS
font-family: "Nunito", sans-serif;
font-family: "Quicksand", sans-serif;
font-family: "Roboto", sans-serif; 
*/

/* COLOR PALETTE */
/* Feel free to change these values and create your own color palette! https://coolors.co/ is a great resource */
:root {
  --primary: #004F32;
  --secondary: #ed3e09;
  --info: #ed3e09;
  --warning: #f6511d;
  --white: #ffffff;
  --offWhite: #f2f2f3;
  --dark: #3b3b3b;
  --outline: #4f4a4a;
  --appBackground: #dddade;
}

/* GLOBAL STYLES */
body,
button,
input,
select,
textarea {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--appBackground);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

/* This prevents all the links in the app from having default underline */
a {
  text-decoration: none;
  color: inherit;
}
/* This prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}
/* This prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}

/* GLOBAL STYLING FOR ALL THE BUTTONS BUTTONS */
button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;

  cursor: pointer;
}

/* These are all the color options for the buttons */
/* If you change the color variables, be sure to change the hover colors to be a darker shade of the colors you chose*/
.btn-primary {
  background-color: var(--primary);
  color: var(--offWhite);
}

.btn-primary:hover {
  background-color: #bb3a12;
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: #bb3a12;
}

.btn-warning {
  background-color: #f6511d;
}

.btn-warning:hover {
  background-color: #e14617;
}

.btn-info {
  background-color: var(--info);
}

.btn-info:hover {
  background-color: #bb3a12;
}

.btn-neworder {
    margin-top: 1em;
}

.order-controls-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 5px;
}

#deliveryDestination {
    height: 18.5px;
}